:root {
    --background-color: #6B7280;
    --app-color: #FEE2E2;
    --red-color: #F9FAFB;
}

body {
  background-color: var(--red-color);
  margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

.inline-list{
    display: inline;
    margin: 0rem 1rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem;
}

.navigation{
    background-color: var(--app-color);
    color: #000;
    padding: 1rem;
    position: sticky;
}

.navigation .brand-name{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 0.8rem;
}

.navigation .nav-items{
    text-align: right;
    padding-right: 2rem;
}

.navigation .nav-link{
    color: #000;
}

.navigation .nav-active{
    font-weight: bold;
}

  .container {
    border-radius: 3vw;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    color: var(--background-color);
    text-align: center;
    margin-top: 1.8rem;
  }

  .container h1{
      padding: 1rem;
      color: #000;
  }

  .input {
    width: 30%;
    height: 1.5rem;
    padding: 0.5rem;
    margin: auto;
    border: 1px solid var(--app-color);
    color: var(--background-color);
    border-radius: 10px;
    outline: none;
  }

  .container h3{
      color: #000;
      margin-bottom: 2rem;
  }
  
  label {
    margin: 1.5rem;
    font-size: 1.2rem;
  }
 
  .quiz-container{
      padding: 1rem;
  }

  .quiz-container p{
      font-size: 1.5rem;
      padding: 1rem;
  }

  
  button {
    width: 8rem;
    height: 2rem;
    margin: 1.5vw auto;
    background-color: var(--background-color);
    color: var(--app-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn{
      width: 12rem;
  }

  #output{
      font-size: 1.5rem;
      color: #000;
      margin: 0;
      padding: 0;
  }


  .footer {
      margin-top: 4rem;
    padding: 0rem 1rem;
    text-align: center;
    color: black;
}

.footer .links {
    color: black;
}

.footer .fab{
    font-size: 1rem;
    padding: 0.5rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 2rem;
}

.footer ul {
    padding-inline-start: 0px;
}